*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    font-family:Arial,Helvetica,sans-serif;
    color:#222
}


.wrap{
    width:90%;
    max-width:1200px;
    margin:auto
}


.topbar{
    background:#000;
    color:#fff;
    font-size:13px
}
.topbar-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:32px
}


.nav{background:#fff;
    border-bottom:1px solid #eee;
    position:fixed;
    top:33px;
    left:0;
    width:100%;
    z-index:1000;
}
.nav-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
}
nav a{
    margin-left:25px;
    font-size:14px
}



.hero{
    display:grid;
    grid-template-columns:1fr 1fr;
    min-height:520px;
}
.hero-left{
    padding:120px 80px;
    color:#fff
}
.tag{
    color:#0abf9e;
    font-size:14px
}
.hero-left h1{
    font-size:44px;
    margin:15px 0
}
.hero-left p{
    font-size:14px;
    line-height:1.6;
    margin-bottom:30px
}
.hero-btns a{
    margin-right:15px
}
.hero-right{position:relative;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center
}



.btn{padding:10px 22px;
    font-size:13px;
    display:inline-block
}
.btn.solid{
    background:#0abf9e;
    color:#fff
}
.btn.outline{
    border:2px solid #0abf9e;
    color:#fff
}
.btn.outlinee{
    border:2px solid #0abf9e;
    color:black
}

.btn.outline:hover{
    color: #0abf9e;
}
.btn.outlinee:hover{
    background: black;
    color: white;
}
.act:hover{
    background: #0abf9e;
    color: white;
}
.read-btn:hover{
    background: black;
}
.bb:hover{
    background: black;
}
.aa:hover
{color: #0abf9e;
}


.why{
    padding:90px 0
}
.why-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px
}
.why-text h2{
    font-size:30px;
    margin-bottom:15px
}
.why-text p{
    font-size:14px;
    color:#555;
    margin-bottom:15px
}
.why-cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px
}
.why-card{
background:#0abf9e;
color:#fff;
padding:35px;
clip-path:polygon(0 0,85% 0,100% 15%,100% 100%,0 100%);
transition:.3s
}
.why-card:hover{
clip-path:polygon(0 0,100% 0,100% 100%,0 100%)
}
.why-card h4{
    margin:15px 0;
    font-size:16px
}
.why-card p{
    font-size:13px;
    line-height:1.5
}
.icon{
    width:44px;
    height:44px;
    border-radius:50%;
    background:#fff;
    margin-bottom:10px;
    background-image: url("img/w1.png"); 
    background-size: cover;
}
.icon1{width:44px;
    height:44px;
    border-radius:50%;
    background:#fff;
    margin-bottom:10px;
    background-image: url("img/w2.png"); 
    background-size: cover;
}
.icon2{width:44px;
    height:44px;
    border-radius:50%;
    background:#fff;
    margin-bottom:10px;
    background-image: url("img/w3.png"); 
    background-size: cover;
}
.icon3{width:44px;
    height:44px;
    border-radius:50%;
    background:#fff;
    margin-bottom:10px;
    background-image: url("img/w4.png"); 
    background-size: cover;
}



.about{
    padding:90px 0
}
.about-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center
}
.about-img img{
    border-radius:50%;
    height: 100%;
    width: 100%;
}
.about-text h2{
    font-size:30px;
    margin-bottom:10px
}
.about-text h4{
    font-size:15px;
    margin-bottom:15px
}
.about-text p{
    font-size:14px;
    color:#555;
    margin-bottom:15px
}



.services-block{
    padding:90px 0;
    text-align:center
}
.section-sub{
    max-width:700px;
    margin:0 auto 60px;
    font-size:14px;
    color:#666
}
.services-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px
}
.service-card{
background:#fff;
padding:55px 30px;
box-shadow:0 15px 35px rgba(0,0,0,.08);
position:relative;
transition: all 0.4s ease;
}
.service-card:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform: scale(1.05);
}
.service-icon{
width:70px;
height:70px;
background:#222;
background-image: url("img/s1.png");
background-size: cover;
border-radius:18px;
margin:0 auto 20px
}
.service-icon1{
width:70px;
height:70px;
background:#222;
background-image: url("img/s22.png");
padding-left: 90px;
background-size: cover;
border-radius:18px;
margin:0 auto 20px
}
.service-icon2{
width:70px;
height:70px;
background:#222;
background-image: url("img/s3.png");
background-size: cover;
border-radius:18px;
margin:0 auto 20px
}
.service-card h4{
    margin:15px 0
}
.service-card p{
    font-size:13px;
    color:#555;
    line-height:1.6
}





.badge{
position:absolute;
top:20px;
right:20px;
background:#0abf9e;
color:#fff;
font-size:12px;
padding:4px 8px;
border-radius:20px
}
.skills-block{
    padding:90px 0
}
.skills-layout{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center
}
.skills-text h2{
    margin-bottom:15px
}
.skills-text p{
    font-size:14px;
    color:#555;
    margin-bottom:30px
}
.skill-row{
    margin-bottom:20px
}
.skill-row span{
    display:block;
    font-size:13px;
    margin-bottom:6px
}
.skill-bar{
background:#eee;
height:6px;
border-radius:5px;
overflow:hidden
}
.skill-bar div{
height:100%;
background:#0abf9e;
color:#000;
font-size:5px;
text-align:right;
padding-right:5px
}
.skills-image img{
clip-path:polygon(12% 0,100% 0,88% 100%,0 100%);
height: 100%;
width: 100%;
}





.works{
    padding:90px 0;
    text-align:center
}
.filter-tabs{
    margin:30px 0
}
.filter-tabs button{
padding:8px 18px;
margin:5px;
border:1px solid #0abf9e;
background:#fff;
font-size:13px
}
.filter-tabs .active{
background:#0abf9e;
color:#fff
}
.works-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:40px;
}
.i{
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}
.i:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform: scale(1.05);
}



.stats{
    background:#0abf9e;
    padding:20px 0
}
.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    text-align:center;
    color:#fff;
}
.stat-icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#fff;
    margin:0 auto 15px;
    background-image: url("img/b1.png"); 
    background-size: cover;
}
.stat-icon1{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#fff;
    margin:0 auto 15px;
    background-image: url("img/b2.png"); 
    background-size: cover;
}
.stat-icon2{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#fff;
    margin:0 auto 15px;
    background-image: url("img/b3.png"); 
    background-size: cover;
}
.stat-icon3
{width:60px;
    height:60px;
    border-radius:50%;
    background:#fff;
    margin:0 auto 15px;
    background-image: url("img/b4.png"); 
    background-size: cover;
}
.stat h3{
    font-size:32px
}
.stat p{
    font-size:11px;
    letter-spacing:1px
}




.team{
    padding:90px 0;
    text-align:center
}
.team-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-top:40px
}
.team-grid img{
    width:100%;
    height:auto
}




.review{
    background:#cfe5df;
    padding:90px 0
}
.review-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    align-items:center;
    padding: 100px;
}
.review-card{
background:#e8f4f1;
padding:75px;
max-width:360px;
}
.review-card img{
    width:60px;
    height:60px;
    border-radius:5px;
    margin-bottom:15px
}
.review-card h4{
    margin-bottom:5px
}
.review-card span{
    font-size:12px;
    color:#555
}
.review-card p{
    font-size:13px;
    margin:15px 0
}
.dots span{
display:inline-block;
width:8px;
height:8px;
border-radius:50%;
background:#999;
margin-right:6px
}
.dots .active{
    background:#0abf9e
}
.review-image img{
clip-path:polygon(12% 0,100% 0,88% 100%,0 100%);
height: 100%;
width: 100%;
}



.pricing{
    padding:90px 0;
    text-align:center
}
.price-grid{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:50px
}
.price-box{
background:#fff;
padding:45px;
width:280px;
box-shadow:0 15px 35px rgba(0,0,0,.1)
}
.price-box:hover{
    background: black; 
    color: white;
}
.price-box.dark{
    background:#1f2a33;
    color:#fff
}
.price-box.dark:hover{
    background: white; 
    color: black;
}
.price-box h2{
    margin:20px 0
}
.price-box span{
    font-size:12px
}
.price-box ul{
    list-style:none;
    margin:25px 0
}
.price-box li{
    font-size:13px;
    margin-bottom:10px
}



.offer{
    padding:90px 0; 
    background-color: #eee;
}
.offer-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center
}
.offer-img img{
clip-path:polygon(12% 0,100% 0,88% 100%,0 100%);
height: 100%;
width: 100%;
}
.offer-text ul{
    list-style:none;
    margin-top:20px
}
.offer-text li{
    margin-bottom:10px}



.blog{padding:90px 0}
.blog-grid{display:grid;
    grid-template-columns:2fr 1fr;
    gap:40px;
    margin-top:60px
}
.blog-card{
background:#fff;
box-shadow:0 15px 35px rgba(0,0,0,.08);
margin-bottom:30px
}
.blog-img{
    position:relative
}
.blog-img img{
    width:100%;
    display:block
}
.date{
position:absolute;
top:15px;
right:15px;
background:#0abf9e;
color:#fff;
font-size:11px;
padding:6px 8px;
text-align:center
}

.blog-content{
    padding:25px
}
.blog-content h3{
    font-size:18px;
    margin-bottom:10px
}
.blog-content h4{
    font-size:15px;
    margin-bottom:10px
}
.blog-content p{
    font-size:13px;
    color:#555;
    margin-bottom:15px
}
.read-btn{
display:inline-block;
background:#0abf9e;
color:#fff;
font-size:12px;
padding:8px 14px
}
.meta{
display:flex;
gap:15px;
font-size:11px;
color:#777;
margin-top:15px
}
.blog-side .blog-card{
    margin-bottom:25px
}
.subscribe{
background:#cfe5df;
padding:70px 0;
text-align:center
}
.subscribe h2{
    margin-bottom:10px
}
.subscribe p{
    font-size:14px;
    color:#555;
    margin-bottom:20px
}


.check{
display:block;
font-size:12px;
color:#444;
margin-bottom:25px
}
.sub-form{
max-width:520px;
margin:0 auto;
display:flex;
box-shadow:0 10px 30px rgba(0,0,0,.1)
}
.sub-form input{
flex:1;
padding:14px;
border:none
}
.sub-form button{
background:#0abf9e;
color:#fff;
border:none;
width:50px;
font-size:18px
}



.contact-main{
    padding:90px 0
}
.contact-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    margin-top:50px
}
.faq h4{
    margin-bottom:20px
}
.faq-item{
background:#f5f5f5;
padding:14px 18px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:8px;
font-size:14px
}


.contact-form{
background:#f7f7f7;
padding:40px
}
.contact-form input,
.contact-form textarea{
width:100%;
padding:12px;
border:none;
margin-bottom:15px
}
.contact-form textarea{
    height:120px
}
.contact-info{
background:#cfe5df;
padding:60px 0
}
.info-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px
}
.info-box{
background:#fff;
border-radius:40px;
padding:20px 30px;
display:flex;
align-items:center;
gap:20px
}
.info-icon{
width:45px;
height:45px;
border-radius:50%;
background:#0abf9e;
background-image: url("img/a1.png");
background-size: cover;
}
.info-icon1{
width:45px;
height:45px;
border-radius:50%;
background:#0abf9e;
background-image: url("img/a2.png");
background-size: cover;
}
.info-icon2{
width:45px;
height:45px;
border-radius:50%;
background:#0abf9e;
background-image: url("img/a3.png");
background-size: cover;
}
.info-icon3{
width:45px;
height:45px;
border-radius:50%;
background:#0abf9e;
background-image: url("img/a4.png");
background-size: cover;
}
.info-box h5{
    margin-bottom:5px
}
.map iframe{
width:100%;
height:350px;
border:0;
background-image: url("img/map.png");
background-size: cover;
}



.footer{
background:#fff;
padding:70px 0
}
.footer-grid{
display:grid;
grid-template-columns:2fr 1fr 1fr 2fr;
gap:40px
}
.footer-about img{margin-bottom:15px}
.footer-links a{
display:block;
font-size:13px;
margin-bottom:10px
}
.footer-post{
display:flex;
gap:10px;
margin-bottom:15px
}
.footer-post img{
    width:60px;height:40px;
    object-fit:cover
}
.footer-bottom{
background:#cfe5df;
text-align:center;
padding:30px 0
}
.socials{
display:flex;
justify-content:center;
gap:12px;
margin-bottom:15px
}
.socials span{
width:35px;
height:35px;
border-radius:50%;
background:#0abf9e;
}
.socials .f1{
    background-image: url("img/f1.png");
    background-size: cover;
}
.socials .f2{
    background-image: url("img/f2.png");
    background-size: cover;
}
.socials .f3{
    background-image: url("img/f3.png");
    background-size: cover;
}
.socials .f4{
    background-image: url("img/f4.png");
    background-size: cover;
}
.socials .f5{
    background-image: url("img/f5.png");
    background-size: cover;
}


@media(max-width:900px){
.hero{grid-template-columns:1fr}
.hero-left{padding:80px 30px}
.hero-right{display:none}
.why-grid,.about-grid{grid-template-columns:1fr}
.services-cards,.skills-layout,.works-grid{grid-template-columns:1fr}
.skills-image{order:-1}
.stats-grid,
.team-grid,
.review-grid,
.offer-grid{grid-template-columns:1fr}
.price-grid{flex-direction:column;align-items:center}
.blog-grid{grid-template-columns:1fr}
.contact-grid,
.info-grid,
.footer-grid{grid-template-columns:1fr}
}
