*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}
body{background:#fff;color:#222}
.container{width:90%;max-width:1200px;margin:auto}
.center{text-align:center;margin-bottom:40px}

.h-flex{display:flex;justify-content:space-between;align-items:center;height:25px}
.me{list-style:none;display:flex;gap:90px;padding-left: 22%;}

.nav{background:#fff;box-shadow:0 2px 10px rgba(0,0,0,.1);position:fixed;width:100%;z-index:10}
.nav-flex{display:flex;justify-content:space-between;align-items:center;height:70px}
.menu{list-style:none;display:flex;gap:25px}
.menu a{text-decoration:none;color:#222;font-weight:500}

.hero{padding:205px 0;background-image: url("img/hero.jpg"); background-size: cover;}
.hero-grid{display:grid;grid-template-columns:1fr 1fr;align-items:center}
.hero h1{font-size:48px; color: white;}
.btn{border:2px solid #0abf9e;padding:10px 25px;border-radius:5px}
.btn:hover{transform:translateY(-3px)}

.why{padding:65px 0px}
.container{display:grid;grid-template-columns:1fr 1fr;gap:20px;align-items:center}
.cards{display:grid;grid-template-columns:repeat(2,1fr);gap:20px}
.cards{display:grid;grid-template-columns:repeat(2,1fr);gap:20px}
.card{background:#0abf9e;color:#fff;padding:60px;border-radius:0px;text-align:center;transition:.3s;border: 20%;}
.card:hover{transform:translateY(-10px)}

.about{padding:65px 0px}
.about-grid{display:grid;grid-template-columns:1fr 1fr;gap:80px;align-items:center}
.btn-outline{border:2px solid #0abf9e;padding:10px 25px;border-radius:5px}

.services{background:#f5f9f8;padding:65px 0;}
.service-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:30px}
.service-box{background:#fff;padding:40px;text-align:center;border-radius:10px;transition:.3s}
.service-box:hover{box-shadow:0 20px 40px rgba(0,0,0,.1)}

.skills{padding:65px 0}
.skills-grid{display:grid;grid-template-columns:1fr 1fr;gap:40px}
.bar{background:#eee;height:8px;margin:15px 0;border-radius:5px}
.bar span{display:block;height:100%;background:#0abf9e;border-radius:5px}

.work-grid{display:grid;grid-template-columns:repeat(2,1fr);gap:30px;}
.work-grid img{width:100%;border-radius:10px;transition:.3s}
.work-grid img:hover{transform:scale(1.05)}

.counter{background:#0abf9e;color:#fff;padding:60px 0}
.counter-grid{display:grid;grid-template-columns:repeat(4,1fr);text-align:center}

.team{  
      margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 100px;
  text-align: center;}
.team-grid{display:flex;grid-template-columns:repeat(3,1fr);gap:20px}
.team-grid img{  width: 100%;
  max-width: 360px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;}

.pricing{background:#f5f9f8;padding:65px 0}
.price-grid{display:flex;justify-content:center;gap:30px}
.price-card{background:#fff;padding:40px;border-radius:10px;text-align:center;width:250px}
.price-card.active{background:#0abf9e;color:#fff}

.blog{padding:65px 0}
.blog-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:20px}
.blog-card{background:#fff;border-radius:10px;overflow:hidden;transition:.3s}
.blog-card:hover{transform:translateY(-10px)}

.contact{background:#f5f9f8;padding:65px 0}
.contact-grid{display:grid;grid-template-columns:1fr 1fr;gap:40px}
input,textarea{width:100%;padding:12px;margin-bottom:15px;border-radius:5px;border:1px solid #ccc}
.map{background:#ddd;display:flex;align-items:center;justify-content:center}

footer{background:#111;color:#fff;text-align:center;padding:20px}
